.container {
    background: white;
}

.container-home {
    width: 100%;
    min-height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    background: #333;
    width: 75%;
    min-height: 17vh;
    max-height: 60vh;

    margin: 40px 0;
    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    border-radius: 10px;
    box-shadow: 0 5px 10px 10px rgba(91, 40, 150, 0.2) ;
}

.button-wrapper {
    min-width: 20%;
    max-width: 100%;
    height: 30px;
}