/* Navbar */
#navbar {
    width: 100%;
    background: #333;
    height: 8vh;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items a {
    text-decoration: none;
    color: #adadad
}

#navbar-items a:hover {
    text-decoration: none;
    color: #7f7e7e
}


#navbar-items li {
    padding: 10px;
}

.login-button-login {
    width: 10%;
}

@media only screen and (max-width: 750px) {

    #navbar {
        height: 180px;
    }

    #navbar-container {
        flex-direction: column;
        padding: 20px 0;
    }


    #navbar-items li:nth-child(2) {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }

    .login-button-login {
        width: 80px;
        height: 85%;
    }
}