.card {
  width: 100%;
}

form {
  width: 100%;
}

.btn-container {
  height: 80px;
}

#container-register-car {
  background: #333333;
  border-radius: 10px;
  box-shadow: 0 4px 7px 7px rgba(91, 40, 150, 0.2) ;

}

#photo, #price, #model, #description {
  background-color: #333333;
  color: white;
}